<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MyModule</string>
	<key>Description</key>
	<string>This generates a new custom MVVM architecture. It consists of the view controller, view model, worker and router.</string>
	<key>Summary</key>
	<string>This generates a new new custom MVVM architecture.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the MVVM Module</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Module Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___VC</string>
			<key>Description</key>
			<string>The view controller name</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>View Controller Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___VM</string>
			<key>Description</key>
			<string>The view model name</string>
			<key>Identifier</key>
			<string>viewModelName</string>
			<key>Name</key>
			<string>View Model Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Router</string>
			<key>Description</key>
			<string>The router name</string>
			<key>Identifier</key>
			<string>routerName</string>
			<key>Name</key>
			<string>Router Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Worker</string>
			<key>Description</key>
			<string>The worker name</string>
			<key>Identifier</key>
			<string>workerName</string>
			<key>Name</key>
			<string>Worker Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Description</key>
			<string>What view controller class to subclass for the new module</string>
			<key>FallbackHeader</key>
			<string>#import &lt;UIKit/UIKit.h&gt;</string>
			<key>Identifier</key>
			<string>viewControllerSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
				<string>UITableViewController</string>
				<string>UICollectionViewController</string>
			</array>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>0</string>
</dict>
</plist>